.contact-section {
    margin-top: 205px;
    text-align: center;
  }
  
  .contact-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.5%;
    margin-bottom: 35px; /* 調整標題與容器間距 */
  }
  

  .contact-info {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 35px 27px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.5%;
    text-align: left;
  }
  .contact-row {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: baseline;
    gap: 16px;
  }
  .contact-content {
    font-weight: 400;
    word-break: break-word;
    text-align: left;
  }

  .contact-label {
    font-weight: 500;
  }
  

   .contact-row a {
    text-decoration: none;
    color:inherit;
    transition: all 0.2s ease;
   }
  
  
  .contact-row a:hover {
    opacity: 0.7;
    color: #3A3A3C;
  }

  /* Resume 保留底線，讓它更明顯 */
    .resume-link {
    /* display: inline-block; */
    font-weight: 500;
    color: #1C1C1E;
    transition: all 0.2s ease;
    text-decoration: underline;
    
  }
  
  .resume-link:hover {
    opacity: 0.8;
    color: #444444;
  }

  @media (max-width: 1360px) {
    .contact-title {
      font-size: 32px;
    }
  
    .contact-info {
      padding: 0 30px 24px;
      font-size: 17px;
    }
  
    .contact-row {
      grid-template-columns: 90px 1fr;
    }
  }

  @media (max-width: 760px) {
    .contact-title {
      font-size: 28px;
    }
  
    .contact-info {
      padding: 0 30px 22px 60px;
      font-size: 16px;
      gap: 14px;
    }
  
    .contact-row {
      grid-template-columns: 1fr;
      gap: 6px;
    }
  
    .contact-label {
      font-weight: 600;
      margin-bottom: 4px;
    }
  }

  @media (max-width: 480px) {
    .contact-title {
      font-size: 24px;
    }
  
    .contact-info {
      padding: 0 24px 20px 56px;
      font-size: 15.5px;
      gap: 12px;
    }
  
    .contact-row {
      gap: 4px;
    }
  
    .resume-link {
      font-size: 16px;
    }
  }
  




  /* .contact-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.5%;
  }
  
  .contact-row {
    display: grid;
    grid-template-columns: 100px 1fr; 
    align-items: baseline;
    gap: 16px;
  } */
  



  

  /* @media (max-width: 1360px) {
    .contact-title {
      font-size: 32px;
    }
  
    .contact-container {
      max-width: 600px;
      font-size: 17px;
      padding: 0 28px 25px 28px;
    }
  }

  
@media (max-width: 760px) {
    .contact-title {
      font-size: 28px;
    }
  
    .contact-container {
      max-width: 90%;
      font-size: 16px;
      padding: 0 24px 22px 24px;
    }
  }


@media (max-width: 480px) {
    .contact-title {
      font-size: 24px;
    }
  
    .contact-container {
      max-width: 90%;
      font-size: 14px;
      padding: 0 20px 20px 20px;
    }
  
  
    .contact-container p {
      word-break: break-word;
    }
  }
   */